.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-link {
  color: #61dafb;
}

.hero{
  font-size: 50px;
  line-height: 68px;
}

.hero-wrapper{
  padding: 13% 20%;
}

.header-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1.5% 3%;
}

.menu-wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.menu {
  padding: 8px;
}

.menu-first {
  padding-right: 12px;
}

.name {
  font-size: 20px;
  padding-right: 25px;
}

.icon {
  color: #9e9ca1;
  font-size: 35px;
  padding: 8px;
}

.project-wrapper {
  width: 98%;
  margin-right: auto;
  margin-left: auto;
}

.first-row-projects {
  display: flex;
  flex-direction: row;
}

.project {
  margin: 5px;
}

.footer-wrapper {
  width: 100%;
  padding: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
}

